<!-- <div>
  <h1>User Details</h1>
  <br /><br />
  <h2>User Name : {{ user.name }}</h2>
  <h3>Role : {{ user.role }}</h3>
  <h2>Status : {{ user.isActive ? "Active" : "InActive" }}</h2>
</div>
<br />
<button (click)="toggleStatus()">Toogle Status</button> -->

<div>
  <!-- <input type="text" value="{{ name }}" (input)="changeMyName($event)" />
  <h1>Hii, My name is {{ name }}</h1> -->

  <!-- <input type="text" [(ngModel)]="name" />
  <h1>Hii, My name is {{ name }}</h1> -->

  <label>Enter First Number</label>
  <input type="number" [(ngModel)]="firstNumber" (input)="calcSum()" />
  <br /><br />
  <label>Enter Second Number</label>
  <input type="number" [(ngModel)]="secondNumber" (input)="calcSum()" />
  <!-- <br /><br />
  <button (click)="calcSum()">Calculate Sum Of Two Number</button> -->
  <br /><br />
  <h1>Your Result Is : {{ result }}</h1>
</div>
