<!-- <router-outlet></router-outlet> -->
<!-- <nav> -->
<!-- For Load All The Page -->
<!-- <a href="">Go To Home Page</a> <br />
  <a href="about">Go To About Page</a> <br />
  <a href="contactus">Go To contactus Page</a> <br /> -->

<!-- For Following SPA(Single Page Application) -->
<!-- <a routerLink="">Go To Home Page</a> <br /> -->
<!-- <a routerLink="about">Go To About Page</a> <br />
  <a routerLink="contactus/69">Go To contactus Page 69</a> <br />
  <a routerLink="contactus/70">Go To contactus Page 70</a> <br />
  <a routerLink="contactus/71">Go To contactus Page 71</a> <br />
  <a routerLink="contactus/72">Go To contactus Page 72</a> <br />
  <a routerLink="contactus/73">Go To contactus Page 73</a> <br /> -->
<!-- <a routerLink="employee">Go To Employee Page</a> -->
<!--</nav> -->

<!-- <app-registration></app-registration> -->

<h1 style="color: red" class="text-center">Angular Component Communication</h1>
<hr />
<app-parent></app-parent>
